/*begin header*/
#header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.navbar-inverse {
	background: #2C3E50;
	border: none;
	height: 51px;
}

.navbar-inverse .navbar-brand {
	color: #d6d6d6;
}
/*end header*/
/*start sidenav-left*/
.sidenav-left {
	height: 100%;
	top: 50px;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #2C3E50;
}

.sidenav-left a:hover p{
	color: #22836E;
}
.sidenav-left a:hover span{
	color: #22836E;
}

.sidenav-left:hover p {
	display: block;
}

.selection {
	margin: 5px;
	padding: 5px;
	height: 40px;
}

.selection p {
	display: none;
	color: #C8C7C2;
	margin-top: 5px; 
	margin-right: 40px; 
	float: left;
	text-align: center;
}

.selection span {
	text-align: center;
	color: #C8C7C2;
	float: right;
	margin-top: 8px; 
	width: 30px;
	height: 30px;
}

/*start dropdown*/

.dropdown {
	margin: 5px;
	padding: 5px;
	height: 40px;
}

.dropdown p {
	display: none;
	color: #C8C7C2;
	margin-top: 5px; 
	margin-right: 20px; 
	float: left;
	text-align: center;
}

.dropdown span {
	text-align: center;
	margin-top: 8px; 
	color: #C8C7C2;
	float: right;
	width: 30px;
	height: 30px;
}

.dropdown-content {
	margin-top: 35px;
	display: none;
	min-width: 100px;
}

.dropdown-content a {
	color: #5E6262;
	padding: 6px 8px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover {background: #1A242F}
/*end dropdown*/
/*end sidenav-left*/

/*start content-right*/
.content-right {
	margin-top: 60px;
}
/*end content-right*/
