body {
	background: #FAFAFA;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}

header {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
}

nav ul { list-style: none; }

nav > ul > li {
	float: left;
	display: inline-block;
	width: 180px;
}

nav a {
	text-decoration: none;
	text-align: center;
	background: #2d3f56;
	display: block;
	color: white;
	width: 180px;
	padding: 15px 0;
	transform: skew(25deg);
}

nav > ul > li > a > span {
	display: block;
	transform: skew(-25deg);
}

nav a:hover {
	background: #E72122;
}

.dropdown-content {
	display: none;
}

.dropdown-content li:nth-child(odd) a {
	margin-left: -40px; 
	transform: skew(-25deg);
	background-image: linear-gradient(185deg, rgba(0,0,0,0.5), #2d3f56 30%)
}

.dropdown-content li:nth-child(even) a {
	margin-left: -10px; 
	transform: skew(25deg);
	background-image: linear-gradient(175deg, rgba(0,0,0,0.5), #2d3f56 30%)
}

.dropdown-content li:nth-child(even) span {
	display: block;
	transform: skew(-25deg);
}

.dropdown-content li:nth-child(odd) span {
	display: block;
	transform: skew(25deg);
}

.dropdown-content li a:hover {
	background-color: #732224;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 5px;
	background: #2d3f56;
	color: white;
	width: 100%;
}

footer > p {
	text-align: center;
}
