/*===============================================
GLOBAL CSS
===============================================*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*{margin:0; padding: 0;}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

/*===============================================
GENERAL CSS
=================================================*/
/*image auto slide*/
#image-scrolling {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	height: 100px;
	margin-bottom: 100px;
}
#image-scrolling div a img {
	height: 60px;
	width: auto;
	padding-right: 40px;
}
ul {
	list-style: none;
}
.card-container {
	height: 200px; 
	overflow: hidden; 
	margin:10px auto; 
	width: 1000px;
}
.card-content li {
	height: 198px; 
	width: 200px; 
	line-height: 2.4; 
	font-size: 30px; 
	text-align: center;
}
#marquee_1, #marquee_2, li {
	float: left;
}

/*carousel slide*/
#content-sliding-carousel .carousel-inner {
	width: 80%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#content-sliding-carousel .item .tile div {
	background: url('../Image/demoImg.jpg') center center no-repeat;
	background-size: cover;
	height: 200px;
	color: white;
}

#content-sliding-carousel .item div h1 {
	background: rgba(0, 0, 0, .4);
}

/*===============================================
STYLE CSS
=================================================*/