/*===============================================
GLOBAL CSS
===============================================*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*===============================================
GENERAL CSS
=================================================*/
.container {
	margin-top: 200px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 34px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 4px;
	padding-left: 45px;
	font-size: 1.4em;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 27px;
	width: 27px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #73B635;
}

input:focus + .slider {
	box-shadow: 0 0 1px #73B635;
}

input:checked + .slider:before {
	transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*===============================================
STYLE CSS
=================================================*/

