body {
	background-color: #F1F1F1;
}

.container {
	margin-top: 40px;
}

.nav-tabs{
	border: none;
}

.nav-tabs li a {
	background-color: #fff;
	color: #B9BBBD;
	margin-right: 20px;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}

.nav-tabs li.active a {
	color: #000;
}

.tab-content {
	min-height: 40px;
	background-color: #fff;
	border: 1px solid #DDDDDD;
}

.tab-pane {
	padding: 10px;
}
